<ion-view title="Albums">
  <ion-pane>
    <ion-content ng-controller="AlbumCtrl">
      <ion-list>
        <ion-item href="#/photos/{{album.id}}" ng-repeat="album in albums">
          <h2>{{album.title}}</h2>
          <p>{{album.description}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>