<ion-view title="Home">
  <ion-content class="padding">
    <h2>Welcome to Flickr app!</h2>
    <p>
    This is simple ionic app to consume flickr api.
    </p>
    <p>
      You can navigate through the side menu and look for the albums and pictures of the user: fsimoncelli
    </p>
  </ion-content>
</ion-view>