<ion-view view-title="Photo" ng-controller="PhotoCtrl">
    <ion-content>
		<div class="list card">
			<div class="item">
				<img height="200" weight="200" ng-src="{{photo.url}}">
			</div>		
			<div class="item">
				<h2>Comments</h2>
				<ion-list>
			      <ion-item ng-repeat="comment in comments">
			        <h2>{{comment.content}}</h2>
			        <p>{{comment.author}}</p>
			   	 </ion-item>
    			</ion-list>
			</div>
		</div>
	</ion-content>	
	<div class="bar bar-footer bar-stable">
   		 <button class="button button-assertive icon-left ion-earth"
    		  ng-click="openInBrowser(photo.url)">Open in Browser</button>
 	</div>
</ion-view>