<ion-view title="Photos">
  <ion-pane>
    <ion-content ng-controller="PhotosCtrl">
      <ion-list>
        <ion-item class="item item-thumbnail-left" href="#/photo/{{photo.id}}" ng-repeat="photo in photos">
          <img ng-src="{{photo.url}}">
          <h2>{{photo.title}}</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>